.MobileMenu {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    overflow-y: hidden;
}

.languageButton {

}

.selectedLanguageButton {
    border: none;
    color: var(--text-white);
    background-color: var(--primary-accent);
    padding: 0 15px;
}

.selectedLanguage {
    line-height: 0;
}

.phoneNumber {
    white-space: nowrap;
    font-size: 1.15em;
    color: var(--text-light);
    margin: 0 var(--spacing-md);
}

@media only screen and (max-width:768px) {
    .MobileMenu {
        width: 100vw;
        height: 100vh;
        background-color: var(--bg-blue);
        justify-content: center;
    }

    .menuContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    button {
        background-color: #021828;
        font-family: var(--body-font);
        font-size: 14px;
        font-weight: 600;
        border-radius: 1000px;
        border: none;
        color: var(--text-white);
        padding: 1% 2%;
        transition: all 0.15s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button a {
        color: white;
        padding: 0 0 0 5px;
        font-size: 14px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;
    }

    .languages {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40%;
    }

    .menu {
        padding: 0;
        list-style: none;

        gap: 1vw;
        margin-bottom: 30px;
    }

    .menu a {
        font-size: 14px;
        color: #caced0;
        white-space: nowrap;
        margin: 0 0 26px 0;
        display: block;
    }
}