.flatCover {
    opacity: 0.35;
    cursor: pointer;
}

.flatCover:hover {
    cursor: pointer;
    opacity: 1;
}

.duplexOff {
    opacity: 0.35;
    cursor: pointer;
}

.duplexOn {
    cursor: pointer;
    opacity: 1;
}
